body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.smith{
    margin-top: -20px;
    font-size: 50px;
    font-weight: bold;
    color: tomato;
}
h2{
    margin-top: 150px;
}
.jack{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.jack img{
    margin-top: 40px;
    width: 500px;
    height: 500px;
}
.first-header{
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    padding-bottom: 150px;
    
}
section{
    height: 500px;
}
.link-button{
    padding: 5px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    border-radius: 5px;
}
.jack .peter-dream{
    width: 500px;
    height: 600px;
}
.peter-area{
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    padding-bottom: 150px;
}
.latest-work h2{
    text-align: center;
}
.latest-work{
    height: 350px;
    background-image: url("latest-work-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    padding-bottom: 150px;
}
.img-size img{
    padding: 2px;
    margin: 5px;
    width: 90%;
    height: 100%;
}
.pro-latest{
    display: flex;
}
.bruce h2{
    text-align: center;
}
.outside{
    text-align: center;
    margin-bottom: 80px;
}
.bruce{
    text-align: center;
    height: 450px;
    margin-left: 34%;
    background-image: url("footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.client{
    width: 50%;
    height: 50%;
}
.contact div{
    text-align: center;
    width: 50%;
    height: 50%;
    padding: 10px 50px;
    background-image: linear-gradient(45deg,tomato,rgb(250, 139, 95));
    border-radius: 5px;
    color: white;
    margin-left: -5%;
    margin-top: -60px;
}
.contact div .bold{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.ceo .boss{
    font-weight: bold;
}
.bruce .client .ceo .small{
    color: dimgray;
    margin-top: -15px;
    font-size: 12px;
}
.lorem{
    margin-top: 30px;
    margin-bottom: 60px;
}
footer{
    text-align: center;
    font-size: 12px;
    color: dimgray;
    margin-bottom: 20px;
}